# Data Manipulation
pandas==1.5.3
numpy==1.24.3

# Data Visualization
matplotlib==3.7.1
seaborn==0.12.2
plotly==5.15.0

# Machine Learning
scikit-learn==1.2.2
joblib==1.2.0

# Web Framework for Dashboard
streamlit==1.25.0

# Miscellaneous
pydeck==0.8.1b0  # Untuk visualisasi interaktif